﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script src="bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="bootstrap/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="js/Jquery-ui.js" type="text/javascript"></script>
    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/bootstrap-dropdownhover.min.css" rel="stylesheet" />
    <%--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>--%>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap Dropdown Hover JS -->
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <style type="text/css">
        #mydiv
        {
            top: 30%;
            right: 0%;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            border: 1px solid #ccc;
            position: fixed;
            z-index: 111;
        }
        #mydivmobile
        {
            top: 30%;
            right: 0%;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            border: 1px solid #ccc;
            position: fixed;
        }
        #helpdesk
        {
            height: 100%;
            position: fixed;
            background: #61A6F8;
            width: 90%;
            left: 0%;
            display: none;
            z-index: 5;
        }
        .blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            //            $('a.sssss').on('click', function () {
            //                $('#helpdesk').slideToggle("slow");
            //            });
        });
    </script>
    <script type="text/javascript">
        function fullScreen() {
            window.open("purchasemaster.aspx", "", "fullscreen=yes", "width=1000px");
        }
        function closepopup() {
            self.close();
        }
    </script>
    <script type="text/javascript">

        function confirmdelete() {
            var data = confirm("Are You Sure To Delete?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function confirmdelete123() {
            var data = confirm("Are You Sure To Update?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function confirmdelete1() {
            var data = confirm("Are You Sure To Move this person to Your Member List?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function confirmprintchq() {
            var data = confirm("Are You Sure To Print Cheque?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function confirmprintvoucher() {
            var data = confirm("Are You Sure To Print Bank Payment Voucher?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function confirmdeleterefresh() {
            var data = confirm("Are You Sure To Refresh All adjustment for this Item?");
            if (data == true) {
                return true;
            }
            else {
                return false;
            }
        }
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;

            return true;
        } 

    </script>
    <script type="text/javascript" language="javascript">
        function checkQuote() {
            if (event.keyCode == 39 || event.keyCode == 34) {
                event.keyCode = 0;
                return false;
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
    <style>
        .dropdown-submenu
        {
            position: relative;
        }
        
        .dropdown-submenu .dropdown-menu
        {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-color: #F3DAFA !important; font-weight: bolder;">
    <form runat="server">
    <%--<asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>--%>
    <nav class="navbar navbar-default" style="background-color: #673AB7;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-animations" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="Dashboard.aspx" style="color:White !important">ALLURE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
      <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown">Master <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:White !important">
            <%--<li><a href="CompanyList.aspx">Company Master</a></li>--%>
             <li runat="server" id="acmaster"><a href="AccountMasterList.aspx?pagename=AccountMasterList" title="New Account Entry">Account Master</a></li>
             <li runat="server" id="acgroupmaster"><a href="ACGroupMaster.aspx?pagename=ACGroupMaster" title="New Account Group Entry">Account Group Master</a></li>
            <li runat="server" id="itemmaster"><a href="ItemMasterList.aspx?pagename=ItemMasterList" title="New Item Entry">Item Master</a></li>
            <li runat="server" id="vattypemaster"><a href="VATTypeMasterList.aspx?pagename=VATTypeMasterList" title="New VAT Type Entry">VAT Type Master</a></li>
            <li runat="server" id="salesmanmaster"><a href="SalesmanMasterList.aspx?pagename=SalesmanMasterList" title="New Salesman Entry">Salesman Master</a></li>
            <li runat="server" id="clientmaster"><a href="ClientMasterList.aspx?pagename=ClientMasterList" title="New Client Entry">Client Master</a></li>
            <li runat="server" id="toolsmaster"><a href="ToolsMasterList.aspx?pagename=ToolsMasterList" title="New Tools Entry">Tools Master</a></li>
            <li runat="server" id="Misc"><a href="Misc.aspx?pagename=Misc">Misc Master</a></li>
            <%--<li><a href="ItemList.aspx">Item Master</a></li>
            <li><a href="Misc.aspx">Misc Master</a></li>
            <li><a href="ExpenseList.aspx">Expense Master</a></li>
            <li><a href="DealerPaymentList.aspx">Payment Master</a></li>
            <li><a href="SalesManList.aspx">Salesman Master</a></li>
            <li><a href="CreditNoteList.aspx">Credit Note Master</a></li>
            <li><a href="ContactFiltering.aspx">Contact Filtering</a></li>
            <li><a href="DataEntry.aspx">Tailor Entry</a></li> --%>           
            <%--<li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>--%>
          </ul>
        </li>
       <%-- <li><a id="czczcz" href="InvoiceList.aspx" style="color:White !important" >Generate Bill</a></li>
        <li><a href="PurchaseList.aspx" style="color:White !important">Purchase Entry</a></li>
        <li><a href="Stock.aspx" style="color:White !important">Stock</a></li>--%>
         <li class="dropdown">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown">Transaction <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:White !important">
           <%-- <li><a href="SalesChallan.aspx">Sales Challan</a></li>
            <li><a href="SalesInvoice.aspx">Sales Invoice</a></li>
            <li><a href="PurchaseChallan.aspx">Purchase Challan</a></li>--%>
            <%--<li runat="server" id="Li7"><a href="Project1.aspx?pagename=Bifurcation" title="New Bifurcation Entry">Proj 1</a></li>
            <li runat="server" id="Li8"><a href="Project2.aspx?pagename=Bifurcation" title="New Bifurcation Entry">Proj 2</a></li>--%>
            <li class="dropdown" style="border-bottom:2px solid silver;">
        <a class="test" tabindex="-1" href="#">AHU Selection<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li  runat="server" id="Li9"><a href="Project1.aspx?pagename=AccountMasterList">Blow Through AHUs</a></li>
          <li runat="server" id="Li10"><a href="Project2.aspx?pagename=AccountMasterList">Draw Through AHUs</a></li>                  
        </ul></li>
            <li runat="server" id="QuotationList"><a href="QuotationList.aspx?pagename=Bifurcation" title="New Bifurcation Entry">Bifurcation</a></li>
            <li runat="server" id="PerformaInvoiceList"><a href="PerformaInvoiceList.aspx?pagename=PerformaInvoiceList" title="New Performa Invoice Entry">Performa Invoice</a></li>
            <li runat="server" id="CommInvoiceList" style="border-bottom:2px solid silver;"><a href="CommInvoiceList.aspx?pagename=PerformaInvoiceList" title="New Commercial Invoice Entry">Commercial Invoice</a></li>
            <li runat="server" id="SalesOrderList"><a href="SalesOrderList.aspx?pagename=SalesOrderList" title="New Sales Order Entry">Sales Order</a></li>
            <li runat="server" id="SalesChallanList"><a href="SalesChallanList.aspx?pagename=SalesChallanList" title="New Sales Challan Entry">Sales Challan</a></li>
            <li runat="server" id="SalesInvoiceList" style="border-bottom:2px solid silver;"><a href="SalesInvoiceList.aspx?pagename=SalesInvoiceList" title="New Sales Invoice Entry">Sales Invoice</a></li>
            <li runat="server" id="PurchaseOrderList"><a href="PurchaseOrderList.aspx?pagename=PurchaseOrderList">Purchase Order</a></li>
            <li runat="server" id="PurchaseChallanList"><a href="PurchaseChallanList.aspx?pagename=PurchaseChallanList" title="New Purchase Challan Entry">Purchase Challan</a></li>
            <li runat="server" id="PurchaseInvoiceList" style="border-bottom:2px solid silver;"><a href="PurchaseInvoiceList.aspx?pagename=PurchaseInvoiceList" title="New Purchase Invoice Entry">Purchase Invoice</a></li>
             <li runat="server" id="BankReceiptList"><a href="BankReceiptList.aspx?pagename=BankReceiptList" title="New Bank Receipt Entry">Bank Receipt</a></li>
              <li runat="server" id="BankPaymentList"><a href="BankPaymentList.aspx?pagename=BankPaymentList" title="New Bank Payment Entry">Bank Payment</a></li>
               <li runat="server" id="CashReceiptList"><a href="CashReceiptList.aspx?pagename=CashReceiptList" title="New Cash Receipt Entry">Cash Receipt</a></li>
                <li runat="server" id="CashPaymentList"><a href="CashPaymentList.aspx?pagename=CashPaymentList" title="New Cash Payment Entry">Cash Payment</a></li>
                 <li runat="server" id="PettyCashExpenseList"><a href="PettyCashExpenseList.aspx?pagename=PettyCashExpenseList" title="New Petty Cash Expense Entry">Petty Cash Expense</a></li>
                  <li runat="server" id="JournalVoucherList" style="border-bottom:2px solid silver;"><a href="JournalVoucherList.aspx?pagename=JournalVoucherList" title="New Journal Voucher Entry">Journal Voucher</a></li>
                  <li class="dropdown">
        <a href="#">Tools Entry<span class="caret"></span></a>
        <ul class="dropdown-menu">
             <%--<li runat="server" id="StockTools"><a href="StockTools.aspx?pagename=Stock"  title="View and Print Stock">Tools Stock</a></li>--%>
                  <li runat="server" id="ToolsJVINList"><a href="ToolsJVINList.aspx?pagename=StockJVINList" title="New Stock JV IN Entry">Tools JV IN</a></li>
               <li runat="server" id="ToolJVOUTList"><a href="ToolJVOUTList.aspx?pagename=StockJVOUTList" title="New Stock JV OUT Entry">Tools JV OUT</a></li>
               <li runat="server" id="ToolsDeliveryEntryList"><a href="ToolsDeliveryEntryList.aspx?pagename=ToolsDeliveryEntryList" title="New Tools Delivery Entry">Tools Delivery Entry</a></li>
               <%--<li runat="server" id="ToolsReturnEntryList" visible="false"><a href="ToolsReturnEntryList.aspx?pagename=ToolsReturnEntryList" title="New Tools Return Entry">Tools Return Entry</a></li>   --%>
        </ul></li>
        <li class="dropdown">
        <a href="#">Stock Entry<span class="caret"></span></a>
        <ul class="dropdown-menu">
             <li runat="server" id="StockJVIN"><a href="StockJVINList.aspx?pagename=StockJVINList" title="New Stock JV IN Entry">Stock JV IN</a></li>
               <li runat="server" id="StockJVOUT"><a href="StockJVOUTList.aspx?pagename=StockJVOUTList" title="New Stock JV OUT Entry">Stock JV OUT</a></li>
               <li runat="server" id="StockAdjustment"><a href="StockAdjustment.aspx?pagename=StockAdjustment" title="Adjust stock Against Challan">Stock Adjustment</a></li>  
        </ul></li>               
                  <%--<li runat="server" id="Stock"><a href="Stock.aspx?pagename=Stock"  title="View and Print Stock">Stock</a></li>--%>                                                                                       
                <li runat="server" id="ReturnableReturnEntryList"><a href="ReturnableReturnEntryList.aspx?pagename=ReturnableReturnEntryList" title="New Returnable Return Entry">Returnable Return Entry</a></li>
                <li runat="server" id="AdjustPendingPO"><a href="AdjustPendingPO.aspx?pagename=AdjustPendingPO" title="Adjust Pending Qty. in PO">Adjust Pending PO Item</a></li>
                 <%--<li><a href="PackingMaterialEntryList.aspx">Packing Material Entry</a></li>--%>
                  <li runat="server" id="PackingMaterialEntryMultipleList"><a href="PackingMaterialEntryMultipleList.aspx?pagename=PackingMaterialEntryMultipleList" title="Create packing slip for multiple challan">Packing Material Entry Multiple</a></li>
                  <li runat="server" id="Li1"><a href="ClearNo.aspx?pagename=PackingMaterialEntryMultipleList" title="Free Your used No. From BR/BP/CR/CP/JV">Free Your Used No.</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:White !important">
            <%--<li runat="server" id="RepPurchaseOrder"><a href="RepPurchaseOrder.aspx">Purchase Order</a></li>
            <li runat="server" id="RepDeliveryChallan"><a href="RepDeliveryChallan.aspx">Delivery Challan</a></li>
            <li runat="server" id="RepSalesInvoice"><a href="RepSalesInvoice.aspx">Sales Invoice</a></li>
            <li runat="server" id="RepBankPayment"><a href="RepBankPayment.aspx">Bank Payment</a></li>
            <li runat="server" id="RepCashPayment"><a href="RepCashPayment.aspx">Cash Payment</a></li>
            <li runat="server" id="RepBankReceipt"><a href="RepBankReceipt.aspx">Bank Receipt</a></li>
            <li runat="server" id="RepCashReceipt"><a href="RepCashReceipt.aspx">Cash Receipt</a></li> --%>
            <li class="dropdown">
        <a href="#">Account Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li runat="server" id="RepLedger"><a href="RepLedger.aspx" title="ACName , CCode & Datewise Ledger">Ledger Report</a></li>
            <li runat="server" id="RepTrial"><a href="RepTrial.aspx" title="Namewise , Groupwise & Datewise Trial Balance">Trial Balance</a></li>
            <li runat="server" id="RepBalanceSheet"><a href="RepBalanceSheet.aspx" title="">Balance Sheet Report</a></li>        
        </ul></li>
         <li class="dropdown">
        <a href="#">Sales Report<span class="caret"></span></a>
        <ul class="dropdown-menu">          
        <li runat="server" id="RepSalesTaxSummary"><a href="RepSalesTaxSummary.aspx" title="A/C Head , Tax Type & Datewise Sales Tax Summary">Sales Tax Summary</a></li>
            <li runat="server" id="RepSalesRegister"><a href="RepSalesRegister.aspx" title="">Sales Register</a></li>
            <li runat="server" id="RepPCRegister"><a href="RepPCRegister.aspx" title="">Pending Challan Report</a></li>
            <li runat="server" id="RepPSCRegister"><a href="RepPSCRegister.aspx" title="">Pending Sign Challan Report</a></li>        
        </ul></li>
        <li class="dropdown">
        <a href="#">Purchase Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li runat="server" id="RepPurchaseTaxSummary"><a href="RepPurchaseTaxSummary.aspx" title="A/C Head , Tax Type & Datewise Purchase Tax Summary">Purchase Tax Summary</a></li>
          <li runat="server" id="RepPORegisterAll"><a href="RepPORegisterAll.aspx" title="ACName , CCode & Datewise All PO Register">Purchase Order Register</a></li>
            <li runat="server" id="RepPendingPO"><a href="RepPendingPO.aspx" title="ACName , CCode & Datewise Pending PO Register">Pending PO</a></li>   
            <li runat="server" id="RepPORegister" visible="false"><a href="RepPORegister.aspx" title="">Purchase Register</a></li>           
        </ul></li>    
        <li runat="server" id="RepBankBook"><a href="RepBankBook.aspx" title="Bank Name & Datewise Bank Book">Bank Book</a></li>
            <li runat="server" id="RepCashBook"><a href="RepCashBook.aspx" title="Cash Name & Datewise Cash Book">Cash Book</a></li>
            <li runat="server" id="RepPettyCashBook"><a href="RepPettyCashBook.aspx" title="Petty Cash Name & Datewise Petty Cash Book">Petty Cash Book</a></li>
            <li class="dropdown">
        <a href="#">JV Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li runat="server" id="RepJVVoucher"><a href="RepJVVoucher.aspx">JV Voucher</a></li>         
            <li runat="server" id="RepJV"><a href="RepJV.aspx" title="Datewise Journal Voucher Register">Journal Register</a></li>    
        </ul></li>
            <%--<li runat="server" id="RepJVVoucher"><a href="RepJVVoucher.aspx">JV Voucher</a></li>         
            <li runat="server" id="RepJV"><a href="RepJV.aspx" title="Datewise Journal Voucher Register">Journal Register</a></li>--%>              
            <li class="dropdown">
        <a href="#">Stock Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li runat="server" id="StockTools"><a href="StockTools.aspx?pagename=Stock"  title="View and Print Stock">Tools Stock Quantity</a></li>
          <li  runat="server" id="Stock"><a href="Stock.aspx?pagename=Stock">Stock Quantity</a></li>
          <li runat="server" id="Li12"><a href="RepStockRegister.aspx">Stock Register</a></li>                  
          <li runat="server" id="RepStockSummary"><a href="RepStockSummary.aspx">Stock Summary</a></li>                  
        </ul></li>
        <li class="dropdown">
        <a href="#">Payment Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li runat="server" id="RepOutstanding"><a href="RepOutstanding.aspx" title="">Outstanding Report</a></li>
          <li runat="server" id="RepOutstandingDaywise"><a href="RepOutstandingDaywise.aspx" title="">Outstanding Report Daywise</a></li>
            <li runat="server" id="CIDWise"><a href="CIDWise.aspx" title="CIDWise Payment Details">CIDWise Payment Report</a></li>      
        </ul></li>
        <li class="dropdown">
        <a href="#">Project Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li runat="server" id="RepPartywiseItemRegister"><a href="RepPartywiseItemRegister.aspx" title="ACName , CCode & Datewise Item Register">Partywise Item Register</a></li>
          <li runat="server" id="RepProjectExpense"><a href="RepProjectExpense.aspx" title="">Project Expense Report</a></li>
            <li runat="server" id="RepOverall"><a href="RepOverall.aspx" title="">Overall Report</a></li>
             <li runat="server" id="Li6"><a href="ProjectReport.aspx" title="">Project Report</a></li> 
             <li runat="server" id="Li8"><a href="RepProjectSummary.aspx" title="">Project Summary Report</a></li>    
        </ul></li>                          
             <li runat="server" id="RepCover"><a href="RepCover.aspx" title="">Cover Printing Report</a></li>
             
             <%--<li runat="server" id="Li8"><a href="GenerateEwaybill.aspx" title="">E-way Bill Generation</a></li>--%>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" data-hover="dropdown">GST Return <span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:White !important">
            <%--<li><a href="CompanyList.aspx">Company Master</a></li>--%>
             <li class="dropdown">
        <a href="#">Sales<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%--<li  runat="server" id="GSTB2B"><a href="GSTB2B.aspx?pagename=AccountMasterList">GST B2B</a></li>--%>
          <li  runat="server" id="GSTB2B"><a href="GSTB2B_Airmax.aspx?pagename=AccountMasterList">GST B2B</a></li>
          <li runat="server" id="GSTB2CL"><a href="GSTB2CL.aspx?pagename=AccountMasterList">GST B2CL</a></li>
          <li  runat="server" id="GSTB2CS"><a href="GSTB2CS.aspx?pagename=AccountMasterList">GST B2CS</a></li>
          <li  runat="server" id="GSThsn"><a href="GSThsn.aspx?pagename=ACGroupMaster">GST HSN</a></li>
         <li  runat="server" id="GSTExpense1"><a href="GSTExpense1.aspx?pagename=ACGroupMaster">GST Expense</a></li>
        </ul> </li>
       <li class="dropdown">
        <a href="#">Purchase<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li  runat="server" id="Li2"><a href="GSTB2B_P.aspx?pagename=AccountMasterList">GST B2B</a></li>
          <li runat="server" id="Li3"><a href="GSTB2CL_P.aspx?pagename=AccountMasterList">GST B2CL</a></li>
          <li  runat="server" id="Li4"><a href="GSTB2CS_P.aspx?pagename=AccountMasterList">GST B2CS</a></li>
          <li  runat="server" id="Li5"><a href="GSThsn_P.aspx?pagename=ACGroupMaster">GST HSN</a></li>
         <li  runat="server" id="Li7"><a href="GSTExpense.aspx?pagename=ACGroupMaster">GST Expense</a></li>
        </ul>
      </li>
             <%--<li runat="server" id="GSTB2B"><a href="GSTB2B.aspx?pagename=AccountMasterList">GST B2B</a></li>
             <li runat="server" id="GSTB2CL"><a href="GSTB2CL.aspx?pagename=AccountMasterList">GST B2CL</a></li>
             <li runat="server" id="GSTB2CS"><a href="GSTB2CS.aspx?pagename=AccountMasterList">GST B2CS</a></li>
             <li runat="server" id="GSThsn"><a href="GSThsn.aspx?pagename=ACGroupMaster">GST HSN</a></li>  --%>          
            <%--<li runat="server" id="Li5"><a href="VATTypeMasterList.aspx?pagename=VATTypeMasterList">VAT Type Master</a></li>
            <li runat="server" id="Li6"><a href="SalesmanMasterList.aspx?pagename=SalesmanMasterList">Salesman Master</a></li>
            <li runat="server" id="Li7"><a href="ClientMasterList.aspx?pagename=ClientMasterList">Client Master</a></li>
            <li runat="server" id="Li8"><a href="ToolsMasterList.aspx?pagename=ToolsMasterList">Tools Master</a></li>
            <li runat="server" id="Li9"><a href="Misc.aspx">Misc Master</a></li>--%>
          </ul>
        </li>        
        <li class="dropdown">
           <asp:LinkButton ID="lnkbackup" runat="server" onclick="lnkbackup_Click" style="color:White !important">Back UP</asp:LinkButton>
          <asp:Label ID="lblcon" runat="server" Visible="false"></asp:Label>
        </li>
        <li class="dropdown">
           <asp:LinkButton ID="lnkyear" runat="server" style="color:White !important"></asp:LinkButton>
          <%--<asp:Label ID="lblacyear" runat="server"></asp:Label>--%>
        </li>
        <%--<li style="font-size:large; color:White;"><a href="Dashboard.aspx" style="color:Red !important" class="blink">Purchase Order</a></li>--%>
      </ul>
      <%--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default forbutton">Submit</button>
      </form>--%>
      
      <ul class="nav navbar-nav navbar-right">
        <%--<li><a href="#" style="color:White !important"><asp:Label ID="lblacyear" runat="server" Text="Label"></asp:Label></li>--%>
        <%--<li><a href="#" style="color:White !important"><asp:Label ID="lbltoperiod" runat="server" Text="To 31-03-2017"></asp:Label></a></li>--%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:White !important"><asp:Label ID="lblcname" runat="server" Text="Shop name"></asp:Label> <span class="caret"></span></a>
          <ul class="dropdown-menu">           
            <%--<li><a href="#">Help</a></li>--%>
            <li><a href="http://kirc.makeyourcareer.net/kircstore.aspx" target="_blank">Downloads</a></li>
            <%--<li><a href="#">How to Use?</a></li>--%>
            <li role="separator" class="divider"></li>
             <%--<li><a href="#">Profile</a></li>--%>
             <li runat="server" id="UserList"><a href="UserList.aspx?pagename=AddNewUser">Add New User</a></li>
             <li runat="server" id="UserRights"><a href="UserRights.aspx">User Rights</a></li>
             <%--<li runat="server" id="Li1"><a href="GSTB2B.aspx">GST B2B</a></li>--%>
            <li runat="server" id="Changepassword"><a href="Changepassword.aspx">Change Password</a></li>
            <li runat="server" id="YearEndProcessing"><a href="YearEndProcessing.aspx">Year End Process</a></li>
            <li><a href="LogOut.aspx">LogOut</a></li>
            <%--<li><a onclick="closepopup();">LogOut</a></li>--%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div style="font-size: 12px;">
        <%--Desktop--%>
        <%--<div id="mydiv" class="hidden-md hidden-sm hidden-xs visible-lg" style="float: right;
            vertical-align: middle;">
            <a class="sssss" href="http://www.alluresoftweb.com/" target="_blank">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/images/help.png" Width="70px" /></a></div>--%>
        <%--mobile--%>
        <%--<div id="Div1" class="hidden-md hidden-lg" style="float: right; vertical-align: middle;">
            <asp:Image ID="Image2" runat="server" ImageUrl="~/images/help.png" Width="55px" /></div>--%>
        <%--Airpod--%>
        <%--<div id="Div2" class="hidden-lg visible-md" style="float: right; vertical-align: middle;">
            <asp:Image ID="Image3" runat="server" ImageUrl="~/images/help.png" Width="55px" /></div>--%>
        <div id="helpdesk" style="float: right; right: 0%">
            <center>
                gfdgfdgfdgfdgfdgfdgdfgfdg fdgd fg fdg dfgd fg dfg dfg dfg dfg dfg dfg dfg<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
                asdasdasdasdbasbdmasdbasdbasdnsadasdbas<br />
            </center>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <%--<asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
            </Triggers>
            <ContentTemplate>
                </ContentTemplate>
        </asp:UpdatePanel>
        <asp:Timer ID="Timer1" runat="server" Interval="1800000" OnTick="Timer1_Tick">            
            </asp:Timer>--%>
        <%--30 minutes 1 minute=1000--%>
    </div>
    </form>
</body>
</html>
