﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RepBifurcation.aspx.cs" Inherits="RepBifurcation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <iframe id="fbarcode" runat="server" width="100%" height="800px"></iframe>
    </form>
</body>
</html>
