﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testingaddrowgv.aspx.cs" Inherits="testingaddrowgv" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="gvAddrow">  
    <asp:gridview ID="Gridview1" runat="server" ShowFooter="true" AutoGenerateColumns="false">  
        <Columns>  
            <asp:BoundField DataField="RowNumber" HeaderText="Row Number" />  
            <asp:TemplateField HeaderText="Header 1">  
                <ItemTemplate>  
                    <asp:TextBox ID="txt1" runat="server"></asp:TextBox>  
                </ItemTemplate>  
            </asp:TemplateField>  
            <asp:TemplateField HeaderText="Header 2">  
                <ItemTemplate>  
                    <asp:TextBox ID="txt2" runat="server"></asp:TextBox>  
                </ItemTemplate>  
            </asp:TemplateField>  
            <asp:TemplateField HeaderText="Header 3">  
                <ItemTemplate>  
                    <asp:TextBox ID="txt3" runat="server"></asp:TextBox>  
                </ItemTemplate>  
                <FooterStyle HorizontalAlign="Right" />  
                <FooterTemplate>  
                    <asp:Button ID="ButtonAdd" runat="server" Text="Add Row" onclick="ButtonAdd_Click" /> </FooterTemplate>  
            </asp:TemplateField>  
        </Columns>  
    </asp:gridview>  
</div>  
    </form>
</body>
</html>
